:root{
--l0: getLayer(0)
--l1: getLayer(1)
--l2: getLayer(2)
--l3: getLayer(3)
}
body{
margin: 0;
background: var(--l0);
color: white;
}
.module{
padding: 1.6rem;
margin: 1.6rem;
background: var(--l1);
text-align: center;
border-radius: 0.4rem;
cursor: pointer;
}
.module:hover{
background: var(--l2);
}
.module .title{
font-size: 1.5rem;
font-weight: 600;
}
.module .description{
opacity: 0.75;
}