:root{
	--l0: rgb(20, 20, 20);
	--l1: rgb(28, 28, 28);
	--l2: rgb(36, 36, 36);
	--l3: rgb(44, 44, 44);
	--red: rgb(255, 0, 0, undefined, undefined);
}
.module{
	padding: 1.6rem;
	margin: 1.6rem;
	background: var(--l1);
	text-align: center;
	border-radius: 0.4rem;
	cursor: pointer;
}
.module:hover{
	background: var(--l2);
}
.module .title{
	font-size: 1.5rem;
	font-weight: 600;
}
.module .description{
	opacity: 0.75;
}